@font-face {
    font-family: "Gotham-Book";
    src: url("/assets/fonts/Gotham-Book.otf") format("opentype");
}

@font-face {
    font-family: "Gotham-Light";
    src: url("/assets/fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
    font-family: "Gotham-Medium";
    src: url("/assets/fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
    font-family: "Gotham-Thin";
    src: url("/assets/fonts/Gotham-Thin.otf") format("opentype");
}

@font-face {
    font-family: "Gotham-Ultra";
    src: url("/assets/fonts/Gotham-Ultra.otf") format("opentype");
}

@font-face {
    font-family: "GothamNarrow-Black";
    src: url("/assets/fonts/GothamNarrow-Black.otf") format("opentype");
}

@font-face {
    font-family: "GothamNarrow-Book";
    src: url("/assets/fonts/GothamNarrow-Book.otf") format("opentype");
}

@font-face {
    font-family: "GothamNarrow-Thin";
    src: url("/assets/fonts/GothamNarrow-Thin.otf") format("opentype");
}

@font-face {
    font-family: "GothamNarrow-Ultra";
    src: url("/assets/fonts/GothamNarrow-Ultra.otf") format("opentype");
}