.seat {
  /*background-color: #880000 !important;*/
  height: 28px;
  width: 28px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gotham-Medium' !important;
}

.seat-content {
  overflow: scroll !important;
}

.seat:hover {
  background-color: #388e3c !important;
  height: 28px;
  width: 28px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seat--selected {
  cursor: pointer;
  background-color: #2e7d32 !important;
}
.seat--reserved {
  cursor: not-allowed;
  background-color: #757575 !important;
}
.seat-picker__row--selected {
  background-color: rgba(0, 0, 0, 0) !important;
}
.seat-picker--enabled:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}
.seat-picker__row:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}
.color-row-selection:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('/assets/fonts/Gotham-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('/assets/fonts/Gotham-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('/assets/fonts/Gotham-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Thin';
  src: url('/assets/fonts/Gotham-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Ultra';
  src: url('/assets/fonts/Gotham-Ultra.otf') format('opentype');
}

@font-face {
  font-family: 'GothamNarrow-Black';
  src: url('/assets/fonts/GothamNarrow-Black.otf') format('opentype');
}

@font-face {
  font-family: 'GothamNarrow-Book';
  src: url('/assets/fonts/GothamNarrow-Book.otf') format('opentype');
}

@font-face {
  font-family: 'GothamNarrow-Thin';
  src: url('/assets/fonts/GothamNarrow-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'GothamNarrow-Ultra';
  src: url('/assets/fonts/GothamNarrow-Ultra.otf') format('opentype');
}
